<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="TECHNOGIQ IT SOLUTIONS" />
    <meta name="description" content="IT consulting and business outsourcing company, one-Stop Information Technology Company for Business IT Solutions & Services, Custom web application development, mobile application and cloud solutions.">
    <meta name="google-site-verification" content="googled37b149a98fc09f2" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <link rel="icon" href="/assets/logo.png" type="image/gif" sizes=""> 
    <!-- cononical tag -->
    <link rel="canonical" href="/">
    <!-- Document title -->
    <meta name="keywords" content="Software Development Services, Blockchain Software Development Company ,  Analytics Solutions,  Cloud Computing Services,  Animation Company, Website Development Company, Mobile Application Development, Digital Marketing Company, Enterprise Solutions Company,  Fantasy Sports App, Javascript Services,  Customer Support Services,  Dedicated Service, Microsoft Services, IOT Solutions Company, Website Application Development Company, Website Development Company USA"> 
    <meta name="description" content="IT consulting and business outsourcing company, one-Stop Information Technology Company for Business IT Solutions & Services, Custom web application development, mobile application and cloud solutions.">
    <title>SaiM IT Solutions</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/headers' %>
    <%= yield %>
    <%= render 'layouts/footers' %>

  </body>
</html>
